<html ng-app>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDClbr-gm_CfLTkxBEAm3dEkUyefXtMejs&sensor=false">
    </script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <title>Google Phone Gallery: {{query}}</title>
</head>
<body ng-controller="VegetarianController">
 
 Search: <input ng-model="query">
 
<ul class="vegetarians">
  <li ng-repeat="vege in vegetarians | filter:query">
    {{vege.name}}
  </li>
</ul>
 <div id="map_canvas" style="width: 500px; height:300px"></div>

</body>
</html>